- name: configure certs
  include_tasks: configure_certs.yml

- name: create kube config directory
  file:
    name: "{{ ansible_env.HOME }}/.kube/"
    state: directory

- name: create encryption config
  copy:
    content: |
      kind: EncryptionConfig
      apiVersion: v1
      resources:
        - resources:
            - secrets
          providers:
            - aescbc:
                keys:
                  - name: key1
                    secret: {{ encryption_key }}
            - identity: {}
    dest: "{{ ansible_env.HOME }}/.kube/encryption-config.yml"
  when: use_encryption

- name: bootstrap etcd
  include_tasks: bootstrap_etcd.yml

- name: bootstrap api-server
  include_tasks: bootstrap_api_server.yml

- name: bootstrap controller-manager
  include_tasks: bootstrap_controller_manager.yml

- name: bootstrap scheduler
  include_tasks: bootstrap_scheduler.yml

- name: reload controller
  command: systemctl daemon-reload
  become: true
  notify:
    - restart kube-apiserver
    - restart kube-controller-manager
    - restart kube-scheduler