---
- name: copy worker cert config
  copy:
    src: worker-csr.json
    dest: /tmp/certs/worker-csr.json

- name: copy ca key
  copy:
    src: csr/ca/ca-key.pem
    dest: /tmp/certs/
  become: true

- name: copy kube-proxy cert
  copy:
    src: csr/ca/kube-proxy.pem
    dest: /etc/ssl/certs/
    mode: 0644
  become: true

- name: copy kube-proxy key
  copy:
    src: csr/ca/kube-proxy-key.pem
    dest: /etc/ssl/certs/
    mode: 0644
  become: true

- name: copy worker cert config
  copy:
    src: csr/ca-config.json
    dest: /tmp/certs/ca-config.json

- name: generate worker cert
  command: >
    bash -c
    "$GOPATH/bin/cfssl gencert
    -ca=/etc/ssl/certs/ca.pem
    -ca-key=/tmp/certs/ca-key.pem
    -config=/tmp/certs/ca-config.json
    -hostname={{ ansible_nodename }},{{ hostvars[inventory_hostname]['ansible_eth1']['ipv4']['address'] }}
    -profile=kubernetes
    /tmp/certs/worker-csr.json | $GOPATH/bin/cfssljson -bare /var/lib/kubernetes/{{ ansible_nodename }}"
  become: true

- name: move worker key
  command: "mv /var/lib/kubernetes/{{ ansible_nodename }}-key.pem /var/lib/kubelet/{{ ansible_nodename }}-key.pem"
  become: true

- name: cleanup cert configs
  file:
    name: /tmp/certs/
    state: absent
  become: true